body{
    margin: 0px;
    padding: 0px;
}

.reviews-button{
    width: 120px;
    height: 90px;
    position: relative;
    left: 240px;
    top: 40px;
}
#movie-test{
    display: none;
    visibility: visible;
}
 img {
 width: 540px;
 border-radius: 50px;
}

#movie-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 0px;
  
   
  }

  .movies-card{
      padding-left: 20px;
      padding-top: 20px;
  }
  
  .delete{
      top: -10px;
      width: 120px;
      height: 70px;
      border-radius: 10px;
      background-color: #ff3b89;
      background-image: linear-gradient(147deg, #ff3b89 0%, #FF2525 74%);

  }

  